#customer {
    width: 100%;
    height: auto;
    display: table;
    float: left;
    border: solid 0px;
    padding: 50px;
    box-sizing: border-box;
    background-color: white;
}
#session1 {
    width:  62%;
    float: left;
    border-right: solid 1px rgb(196, 189, 189);
    height: auto;
    display: table;
    padding: 37px 29px 29px;
}
h2 {
    /* margin-bottom: 7px;
    margin-top: 7px;
    margin: 1px auto 23px auto; */
    /* border: solid 4px goldenrod; */

    color: #ef414a;
    font-family: Tahoma, Arial;
    font-size: 24px;
    font-weight: normal;
    margin: 0;
    padding: 0 0 21px;
}
.parter-img {
    width: 150px;
    margin: 0px 38px 10px 0px !important;
    padding: 0px !important;
    float: left;
    display: table;
}
.parter-img img {
        width: 140px;
        height: 90px;
}
#siderbar {
    width: 28%;
    /* border: solid 4px rgb(24, 42, 204); */
    height: 467px;
    display: table;
    padding-left: 20px;
    line-height: 40px;
}
h3 {
    width: 100%;
    /* border: solid 4px hotpink; */
    box-sizing: border-box;
    font-weight: normal;
    font-size: 20px;
    font-family: tahoma;
    margin-top: 30px;
    color: blue;
    font-weight: bold;
}
ul {
    /* border: solid 4px khaki; */
    list-style-type: none;
    margin-top: 20px;
}
#group {
    border: solid 1px rgb(148, 148, 148);
    width: 100%;
    height: auto;
    display: table;
}
ul li {
    font-family: tahoma;
    font-size: 13px;
}

@media screen and (min-width:761px) and (max-width: 1023px) {
    #customer {
        width: 100%;
        height: auto;
        display: table;
        float: left;
        /* border: solid 5px rgb(77, 224, 33); */
        box-sizing: border-box;
    }
    #session1 {
        width:  100%;
        /* border: solid 5px rgb(63, 178, 34); */
        height: auto;
        display: table;
        padding: 37px 29px 29px;
        box-sizing: border-box;
        margin-bottom: 20px;
    }
    #siderbar {
        width: 100%;
    }
}

@media screen and (max-width:760px) {
    #customer {
        width: 100%;
        height: auto;
        display: table;
        float: left;
        /* border: solid 5px rgb(77, 224, 33); */
        box-sizing: border-box;
    }
    #session1 {
        width:  100%;
        /* border: solid 5px rgb(63, 178, 34); */
        height: auto;
        display: table;
        padding: 37px 29px 29px;
        box-sizing: border-box;
        margin-bottom: 20px;
    }
    #siderbar {
        width: 100%;
    }
}